```
# Compiled and build artifacts
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.so
*.dylib
*.a
*.o
*.class
*.pyc
__pycache__/
*.pyo
*.pyd
*.nib
*.cache
*.jnilib
*.so.*
*.dll.*
*.exe.*
*.out
*.bin
*.dat
*.idx
*.toc
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex
*.synctex.gz
*.log
*.dvi
*.ps
*.eps
*.pdf
*.pdf_tex
*.lof
*.lot
*.toc
*.maf
*.mtc
*.mtc0
*.ptc
*.upa
*.upb
*.glade.gvfs-metadata
*.glade.gvfs-thumb
*.gmo
*.mo
*.pot
*.po
*.desktop
*.directory
*.schema
*.pc
*.la
*.lo
*.trs
*.trc
*.test
*.gcda
*.gcno
*.gcov
*.gcovr
*.lcov
*.info
*.lst
*.map
*.sym
*.srec
*.hex
*.bin
*.elf
*.axf
*.uf2
*.bin
*.hex
*.elf
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
*.lst
*.sym
*.srec
*.hex
*.bin
*.uf2
*.axf
*.elf
*.bin
*.hex
*.map
......
```